{% extends 'base.html.twig' %}

{% block title %}Password Reset{% endblock %}

{% block main %}
    <section id="resetPassword">
        <h2>Modifiez Votre Mot De Passe</h2>
        <div class="form">
            {{form_start(resetForm)}}
                {{form_widget(resetForm)}}
                <button>Envoyer</button>
            {{form_end(resetForm)}}
        </div>
    </section>
{% endblock %}
