{% extends 'base.html.twig' %}

{% block title %}À Propos{% endblock %}

{% block main %}
    {# A PROPOS MAIN #}
    <section id="propos">
        <h2>Qui sommes-nous ?</h2>
        <p>Bienvenue sur <span class="mycave"> MyCave</span>, la plateforme dédiée aux amateurs de vin et aux passionnés de grands crus. Explorez les caves les plus réputées, plongez dans l'histoire des domaines viticoles et découvrez des bouteilles d'exception, le tout depuis chez vous.

        <span class="liste">Notre site vous permet de :</span>  
        <span class="liste">- Explorer une sélection des meilleures caves avec des fiches détaillées.</span> 
        <span class="liste">- Découvrir les caractéristiques de chaque vin.</span>  
        <span class="liste">- Créer votre propre cave virtuelle et y ajouter vos bouteilles favorites pour mieux organiser votre collection.</span>

        Que vous soyez connaisseur ou simple amateur,<span class="mycave"> MyCave</span> vous accompagne dans votre découverte du vin et vous ouvre les portes des vignobles comme si vous y étiez !</p>
    </section>
{% endblock %}
