@use "../abstract/mixins";
@use "../abstract/variable" as v;
@use "../base/font";

#addBottle {
    background-color: v.$bgcolor;
    text-align: center;
    @include mixins.flex($direction: column);

    h2 {
        font-family: "SourceBold";
        color: black;
        margin-bottom: 2rem;
        margin-top: 2rem;
        font-size: 30px;
    }

    .form {
        width: 30%;

        form {
            color: white;
            background-color: v.$primarycolor;
            @include mixins.flex($direction: column);
            border-radius: 15px;
            margin-bottom: 2rem;
            padding-top: 2rem;
            padding-bottom: 2rem;

            #ajouter_vins_caves {
                font-family: "SourceRegular";

                select {
                    margin-left: 10px;
                }
            }

            button {
                background-color: v.$secondarycolor;
                border: none;
                color: white;
                cursor: pointer;
                padding: 0.5rem;
                transition: all 400ms;
                margin-top: 1rem;
    
                &:hover {
                    background-color: v.$accentcolor;
                }
            } 
        }
    }
}