@use "../abstract/mixins";
@use "../abstract/variable" as v;
@use "../base/font";

// Nouveautés
.nouveautés {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;

    .CartesVins {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;

        .cards {
            flex-wrap: wrap;
            width: 20rem;
            background-color: v.$primarycolor;
            border-radius: 10px;
            text-align: center;
            border: solid v.$secondarycolor 4px;
            transition: all 600ms;
            margin-top: 2rem;
            margin-left: 1rem;
            margin-right: 1rem;
    
            &:hover {
                border: solid 4px v.$accentcolor;
                scale: 1.05;
            }
    
            a {
                color: white;
                font-family: "SourceRegular";
            }
    
            p {
                font-family: "SourceRegular";
                margin-top: 10px;
            }
    
            h3 {
                font-family: "SourceBold";
                font-size: 20px;
            }
    
            img {
                width: 100%;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
            }
        }
    }
}

// Intersection
.intersection {
    @include mixins.flex($direction: column);
    text-align: center;

    h2 {
        margin-bottom: 2rem;
        font-size: 30px;
    }

}

// Présentation Caves
#homeMain {
    background-color: v.$bgcolor;
    text-align: center;

    p {
        font-family: "SourceRegular";
    }

    h2 {
        font-family: "SourceBold";
        font-size: 30px;
    }

    h3 {
        font-family: "SourceBold";
    }  
}

#HomeCaves {
    background: v.$primarycolor;
    @include mixins.flex($wrap: wrap);

    h3 {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20%;
        border-radius: 5px;
    }

    a {
        border: solid 4px v.$secondarycolor;
        @include mixins.flex();
        width:25%;
        margin: 2rem;
        height: 300px;
        color: white;
        transition: all 600ms;
        background-position: center;
        background-size: cover;
        
        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
            border: solid 4px v.$accentcolor;
            scale: 1.1;
        }
    }

    div {
        @include mixins.flex($direction: column);
    }
}