@use "../abstract/mixins";
@use "../abstract/variable" as v;
@use "../base/font";

// A PROPOS 

#propos {
    @include mixins.flex($direction : column, $justify : center, $align : center, $wrap: nowrap);
    text-align: center;
    background-color: v.$bgcolor;
    height: calc(100vh - 285.8px);

    h2 {
        font-family: "SourceBold";
        font-size: 30px;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    p{
        font-family: "SourceRegular";
        width: 60rem;
        font-size: 18px;
        margin-bottom: 2rem;

        .liste {
            display: block;
        }

        .mycave {
            font-weight: bold;
        }
    }
}